/* Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

body {
  background-image: url("./images/back-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  align-items: flex-start;
  font-family: "Oxygen", sans-serif;
}

.left-navbar {
  width: 30%;
  user-select: none;
  height: 100vh;
  background-color: #444;
}

.user {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0 1rem 0.4rem;
  background-color: #222;
  position: relative;
}

.img-modal {
  display: flex;
  align-items: center;
}

.img-modal img{
  width: 5.5rem;
  height: 4.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
  filter: invert(200%);
}

.modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: none;
}

.modal-box > img {
  width: 7rem;
  height: 7rem;
  filter: contrast(2.6);
  cursor: pointer;
}

.modal-box i {
  color: #ffffff;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.2rem;
  position: absolute;
}

.change-btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  margin-left: 0.3rem;
  border-radius: 0.3rem;
  padding: 0.5rem 0.6rem;
  color: #ffffff;
  background-color: #444;
}

/* =========================================================================== */

.name-box {
  background-color: transparent;
  padding: 1rem 0 0 0.4rem;
  position: relative;
}

.name-box > input {
  position: absolute;
  top: 0.7rem;
  color: #000;
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  padding: 0.4rem 0 0.4rem 0.5rem;
}

.name-box > input::placeholder {
  color: #222;
}

.name-box h1 {
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  top: 0.7rem;
  display: none;
}

.name-save {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 0.3rem;
  padding: 0.5rem 0.1rem;
  color: #ffffff;
  background-color: #444;
  margin-top: 2rem;
  display: none;
}

.control-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.2rem;
  background-color: transparent;
  padding: 3rem 0 0 0.4rem;
}

.control-list button {
  width: 100%;
  text-align: left;
  padding: 0.7rem 1rem;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #222;
  border-radius: 0.5rem 0 0 0.5rem;
}

.control-list button:hover,
.change-btn:hover {
  opacity: 0.8;
}

.fa-bars {
  cursor: pointer;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  background-color: #222;
  padding: 0.8rem 0.9rem 100vh 0.7rem;
  display: none;
}

.fa-close {
  cursor: pointer;
  font-size: 1.8rem;
  color: #fff;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.9rem;
}

/* =========================================================================== */

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 0.3rem;
  gap: 1rem;
}

.note {
  width: 68vw;
  background-color: #555;
  text-align: right;
  height: 14rem;
  border-radius: 0.4rem;
}

.text {
  border-radius: 0.3rem;
  padding: 0.4rem;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  font-size: 1.1rem;
  overflow: auto;
  color: #fff;
  background-color: #333;
}

.text::placeholder {
  color: #fff;
}

.icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.note i {
  position: relative;
  top: 0.2rem;
  bottom: 0.4rem;
  right: 0.5rem;
  color: #ffffff;
  font-size: 1.3rem;
  cursor: pointer;
}

.note i:nth-child(1):hover {
  color: #f6fa70;
}
.note i:nth-child(2):hover {
  color: #fe0000;
}
.note i:nth-child(3):hover {
  color: #fe0000;
}

.grid-note{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin: 0 auto;
}